<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        img{
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    
        <p>The username is :@<%=post.username%></p>
        
        <img src="<%=post.img%>" alt="this is the image">
    <h4><p>Caption is :<%=post.content%></p></h4>
    <a href="http://localhost:8080/posts">Return to main page</a>
    <%- include('includes/footer.ejs') %>
</body>
</html>